In [19]:
import pandas as pd
from selenium import webdriver
import time
import warnings

warnings.filterwarnings(action='ignore')

In [20]:
CoffeeBean_URL = "https://www.coffeebeankorea.com/store/store.asp"
wd = webdriver.Chrome('chromedriver.exe')

wd.get(CoffeeBean_URL)
time.sleep(1)

In [21]:
wd.execute_script('storePop2(1)')
time.sleep(1)

In [22]:
cb_name = wd.find_element_by_css_selector('div.store_txt>h2')
store_name = cb_name.text
store_name

'학동역 DT점'

In [24]:
cb_info = wd.find_element_by_css_selector('table.store_table>tbody')
cbContents = cb_info.text
cbContents

'영업시간 평일 06:30~22:00ㅣ주말/공휴일 07:30~22:00\n주차 DT(드라이브 스루) 매장입니다. (주차는 불가)\n주소 서울시 강남구 학동로 211 1층\n전화번호 02-3444-9973'

In [25]:
n0 = cbContents.find('주소')
n0

70

In [26]:
n1 = cbContents.find('전화번호')
n1

92

In [27]:
store_add = cbContents[n0+3:n1-1]

In [28]:
store_tel = cbContents[n1+5:]

In [29]:
df_cb = pd.DataFrame({'매장이름':store_name,'address':store_add,'phone':store_tel}, index=[0])
df_cb

      매장이름             address         phone
0  학동역 DT점  서울시 강남구 학동로 211 1층  02-3444-9973