In [31]:
address = ['서울시 동작구 상도동','서울특별시 동작구 사당동']

In [32]:
addr = address[0].split()

In [33]:
if addr[0] == '서울시':
  addr[0] = '서울특별시'

In [34]:
' '.join(addr)

'서울특별시 동작구 상도동'

In [35]:
import pandas as pd
import folium

In [36]:
filepath = '/content/drive/MyDrive/DataScience/CoffeeBean.xlsx'
CB = pd.read_excel(filepath)
CB

,Unnamed: 0,store,address,phone
0,0.0,학동역 DT점,서울시 강남구 학동로 211 1층,02-3444-9973
1,1.0,차병원점,서울시 강남구 논현로 566 강남차병원1층,02-538-7615
2,2.0,강남대로점,서울시 서초구 강남대로 369 1층,02-588-5778
3,3.0,강남에스점,서울시 서초구 서초 1306-3호,02-593-5095
4,4.0,청담에스점,"서울시 강남구 압구정로 461 네이처포엠빌딩B108,109호",02-548-6052
...,...,...,...,...
246,246.0,명동거리점,서울시 중구 명동 10길 52 명동역 신한은행 사옥 1층,02-522-7158
247,247.0,안양LS타워점,경기도 안양시 동안구 엘에스로 127 1층,031-429-9650
248,248.0,상암SBS프리즘타워점,서울 마포구 상암산로 82 SBS 프리즘 타워 1층 로비,02-562-9605
249,249.0,이천하이닉스 행복마을점,"경기도 이천시 대산로288번길 89, 행복1마을 복지A동 지하1층",031-638-7018
250,250.0,진주LH본사점,경남 진주시 충의로 19 LH진주사옥 공감동 1층,055-763-3520

In [37]:
CB.drop('Unnamed: 0',axis=1,inplace = True)
CB

            store                                 address         phone
0         학동역 DT점                    서울시 강남구 학동로 211 1층    02-3444-9973
1            차병원점               서울시 강남구 논현로 566 강남차병원1층     02-538-7615
2           강남대로점                   서울시 서초구 강남대로 369 1층     02-588-5778
3           강남에스점                    서울시 서초구 서초 1306-3호     02-593-5095
4           청담에스점     서울시 강남구 압구정로 461 네이처포엠빌딩B108,109호     02-548-6052
..            ...                                     ...           ...
246         명동거리점       서울시 중구 명동 10길 52 명동역 신한은행 사옥 1층     02-522-7158
247       안양LS타워점               경기도 안양시 동안구 엘에스로 127 1층    031-429-9650
248   상암SBS프리즘타워점       서울 마포구 상암산로 82 SBS 프리즘 타워 1층 로비     02-562-9605
249  이천하이닉스 행복마을점  경기도 이천시 대산로288번길 89, 행복1마을 복지A동 지하1층    031-638-7018
250       진주LH본사점           경남 진주시 충의로 19 LH진주사옥 공감동 1층    055-763-3520

[251 rows x 3 columns]

In [38]:
addr = []
for address in CB['address']:
  addr.append(address.split())

In [39]:
addr

[['서울시', '강남구', '학동로', '211', '1층'],
 ['서울시', '강남구', '논현로', '566', '강남차병원1층'],
 ['서울시', '서초구', '강남대로', '369', '1층'],
 ['서울시', '서초구', '서초', '1306-3호'],
 ['서울시', '강남구', '압구정로', '461', '네이처포엠빌딩B108,109호'],
 ['서울시', '강남구', '도산대로', '126'],
 ['서울시', '강남구', '논현로', '842', '압구정빌딩1층'],
 ['서울시', '강남구', '논현로', '512', '지상1,2층'],
 ['서울시', '서초구', '강남대로', '213', '24호', '지하1층'],
 ['서울시', '강남구', '삼성로', '716', 'LEE76빌딩2층'],
 ['서울', '서초구', '반포동', '736-17', 'P빌딩', '2층'],
 ['서울시', '강남구', '언주로', '30길', '10,112', '현대비젼21', '112호'],
 ['서울시', '강남구', '선릉로', '749', '1,2층'],
 ['서울시', '강남구', '테헤란로', '87길', '17', '1층'],
 ['서울시', '강남구', '도산대로49길', '13', '1층', '17,18호'],
 ['서울시', '강남구', '선릉로', '157길', '12', '석전빌딩', '1~4층'],
 ['서울시', '서초구', '강남대로', '51길', '1', '511', 'TOWER', '1층'],
 ['서울시', '강남구', '논현', '231-13호', '팍스타워지하1층'],
 ['서울', '강남구', '영동대로', '513', '컨벤션별관A동', '지하', '2층'],
 ['서울시', '강남구', '영동대로', '511', '트레이드타워', '지하1층'],
 ['서울시', '강남구', '영동대로', '607', '1,2층'],
 ['서울시', '서초구', '신반포로', '23', '1141호', '엘루체백화점내1층1013~1015호'],
 ['서울시', '송파구', '석촌호수로', '118', '1층'],
 ['서울시', '서초구', '서초동', '1685-8호', '101~2호,113~4호,121호'],
 ['서울시', '강남구', '논현로', '717', '1층'],
 ['서울시', '서초구', '서초대로74길', '11', '지하2층'],
 ['서울시', '서초구', '서초대로74길', '4', '삼성생명보험서초타워내지하1층'],
 ['서울특별시', '서초구', '방배중앙로', '187'],
 ['서울시', '강남구', '테헤란로', '20길', '10', '쓰리엠타워1층'],
 ['서울시', '강남구', '테헤란로', '70길', '12', '1층'],
 ['서울시', '강남구', '봉은사로', '628', '엘슨빌딩1층'],
 ['서울시', '송파구', '오금로', '11길', '7'],
 ['서울시', '강남구', '논현로', '38길', '42', '418호'],
 ['서울시', '서초구', '서초중앙로', '43', '로얄타워1층'],
 ['서울시', '강남구', '테헤란로4길', '28', '826-28호', '1층'],
 ['서울시', '강남구', '테헤란로87길', '36', '공항타워', '1층'],
 ['서울시', '강남구', '도산대로', '67길', '7,파크빌딩', '1층'],
 ['서울', '종로구', '서린동', '136', '센트리얼빌딩', '1층'],
 ['서울시', '종로구', '새문안로3길', '23', '경희궁아침상가4단지105외'],
 ['서울시', '마포구', '홍익로', '6길', '26'],
 ['서울시', '중구', '순화202', '1-94', '프레이저플레이스레지던스1층'],
 ['서울', '중구', '남대문로7길', '16', '한컴빌딩', '1층'],
 ['서울시', '광진구', '광나루로56길', '85', '테크노마트9층35호'],
 ['서울시', '동대문구', '이문로', '106', '1~3층'],
 ['서울시', '성북구', '개운사길8', '101-3', '1층'],
 ['서울시', '중구', '칠패로', '27', '151호'],
 ['서울', '종로구', '새문안로', '9길', '25', '1층'],
 ['서울시', '서대문구', '창천', '18-26호', 'B1'],
 ['서울시', '광진구', '자양동', '227-342호', '롯데백화점', '옆', '더클래식500건물', '1층'],
 ['서울시', '종로구', '사직로', '130,1', '현대적선빌딩1층'],
 ['서울시', '노원구', '한글비석로', '263', '1층'],
 ['서울시', '중구', '한강대로', '416', '지하1층'],
 ['서울시', '양천구', '목동동로', '293', '현대41타워1층'],
 ['서울', '영등포구', '국제금융로', '52', '심팩빌딩', '1층'],
 ['서울시', '영등포구', '의사당대로', '97', '26-4', '교보증권빌딩1층'],
 ['서울시', '금천구', '시흥대로', '201', '1층'],
 ['서울시', '영등포구', '여의서로', '43', '한서리버파크2층'],
 ['부산광역시', '중구', '창선동', '2가', '8-2'],
 ['인천광역시', '남동구', '예술로', '138', '지상1,2층'],
 ['대전시', '서구', '문정로76', '1층'],
 ['경기도', '고양시', '일산동구', '장항동', '764', '라페스타C동'],
 ['경기도', '고양시', '일산동구', '정발산로', '24', 'I동103~203호'],
 ['경기도', '성남시', '분당구', '분당로53번길', '11', '1층2,3호'],
 ['경기도', '성남시', '분당구', '황새울로', '326', '서현빌딩상가내2층'],
 ['경기도', '성남시', '분당구', '야탑로65번길', '16,', '분당차병원', '신관동', '1층', '101호(야탑동)'],
 ['경기도', '성남시', '분당구', '황새울로', '214번길8', 'MSPlaza내1층'],
 ['경기도', '화성시', '노작로', '199', '동탄라마다호텔107호~111호'],
 ['경남', '창원시', '성산구', '중앙대로', '104', '마이우스오피스텔', '123호', '207호'],
 ['충북', '청주시', '흥덕구', '대농로', '17', '지웰시티몰', '1층', '124-1,125,126호'],
 ['서울', '중구', '세종대로', '136', '파이낸스빌딩', '지하2층'],
 ['서울시', '강남구', '테헤란로', '8길', '42', '1층'],
 ['서울시', '중구', '태평로1', '84호', 'SFC빌딩B1,1-4'],
 ['서울시', '중구', '후암로110', '581호', '서울시티타워1층'],
 ['서울시', '송파구', '양재대로', '1222', '올림픽선수A', '1층212~3호'],
 ['서울시', '종로구', '대학로', '12길', '62', '지하1층,지상1,2층'],
 ['서울시', '종로구', '낙원동', '272', '오라카이스위츠', '1층'],
 ['서울시', '강남구', '테헤란로', '312', '707-2번지1층'],
 ['서울시', '관악구', '관악로', '161', '층일부', '2,3층'],
 ['서울시', '강남구', '봉은사로', '524', '코엑스', '인터컨티넨탈아케이드'],
 ['서울시', '강남구', '논현로', '167길', '9', '낙산프라자', '1층'],
 ['서울시', '구로구', '경인로', '662', '디큐브시티', '4층'],
 ['서울시', '중구', '퇴계로', '173', '남산스퀘어', '1층'],
 ['서울시', '영등포구', '국제금융로', '20', '1층'],
 ['서울시', '강남구', '테헤란로', '439'],
 ['서울시', '강남구', '선릉로93길', '6(역삼동)', '1층'],
 ['서울시', '강남구', '테헤란로1길', '29', '1층일부', '및', '2.3층'],
 ['서울시', '강남구', '삼성로', '551', '1층,2층'],
 ['서울시', '강남구', '선릉로86길', '11'],
 ['서울시', '종로구', '율곡로', '47', '1,2층'],
 ['서울시', '서초구', '강남대로', '449-3', '알고코리아빌딩', '1,2층'],
 ['서울시', '영등포구', '국제금융로10', 'IFC', 'B2층'],
 ['서울시', '마포구', '상암산로', '82', 'SBS프리즘타워', '1층'],
 ['서울시', '금천구', '디지털로9길', '23', '마리오-2관', '패션타워3층'],
 ['서울', '강남구', '테헤란로', '419', '삼성금융플라자1층'],
 ['경기도', '화성시', '장덕동', '현대연구소로150', '현대자동차남양연구소', '설계1동1F'],
 ['서울시', '용산구', '이태원로', '189'],
 ['서울시', '강남구', '가로수길', '83'],
 ['서울시', '서초구', '강남대로', '267', '2,3층'],
 ['서울시', '강동구', '천호대로', '1096', '1,2F'],
 ['경기도', '수원시', '팔달구', '권광로', '195', '학산빌딩1층'],
 ['경기도', '성남시', '분당구', '동판교로177번길', '25'],
 ['경기도', '고양시', '일산서구', '한류월드로', '300', '원마운트스포츠몰', '1층'],
 ['경기', '화성시', '장덕동', '현대연구소로150', '현대자동차남양연구소', 'C1구역식당1F'],
 ['서울시', '영등포구', '의사당대로', '97', '교보증권빌딩', '2층'],
 ['서울시', '강남구', '압구정로29길65', '지하1층'],
 ['서울시', '강남구', '테헤란로143', '고운빌딩1층'],
 ['서울시', '중구', '세종대로84', '2층'],
 ['인천광역시', '부평구', '시장로29', '1,2층'],
 ['서울시', '강남구', '강남대로442', '흥국화재빌딩', '2층'],
 ['서울시', '구로구', '디지털로300', '지밸리비즈플라자', '2층'],
 ['서울시', '서초구', '방배로178', '유중아트센터1층'],
 ['서울시', '강남구', '테헤란로87길22', '도심공항터미널', '지하1층'],
 ['서울시', '영등포구', '영중로15', '타임스퀘어', '1층'],
 ['서울시', '강남구', '봉은사로207', 'KJ타워1층'],
 ['서울시', '강남구', '테헤란로521', '파르나스몰', '지하1층'],
 ['서울시', '종로구', '새문안로5가길', '7', '1층', '일부'],
 ['경기도', '화성시', '장덕동', '현대연구소로150', '현대자동차남양연구소', 'PT동', '1층'],
 ['경기', '김포시', '고촌읍', '전호리', '654번지', '현대프리미엄아울렛김포3층', '618호'],
 ['서울시', '영등포구', '국제금융로8길6', '신영증권별관빌딩2층'],
 ['서울시', '용산구', '이태원로220(한남동)', '1층'],
 ['서울시', '서초구', '서초대로73길12', '세계빌딩1층'],
 ['경기도', '수원시', '영통구', '이의동', '1332', '광교아브뉴프랑', '1층', 'A122,123호'],
 ['서울시', '광진구', '아차산로563(광장동)', '대한제지빌딩', '로비층'],
 ['서울시', '송파구', '올림픽로100', '효창타워1층'],
 ['경상북도', '포항시', '북구', '삼호로265번길1', 'NB-City복합시설1층104호'],
 ['서울시', '관악구', '남부순환로1909', '1,2층'],
 ['인천광역시', '중구', '공항로272', '인천국제공항탑승동3층', 'FB-C5-57'],
 ['인천광역시', '중구', '공항로272', '인천국제공항탑승동3층', 'FB-C5-68'],
 ['경상북도', '경주시', '엑스포로80(천군동)1층'],
 ['서울시', '송파구', '석촌호수로', '222', '제이타워', '1층'],
 ['서울시', '양천구', '오목로', '350', '목동썬텍씨티빌딩', '1층,2층'],
 ['서울시', '중구', '남대문로10길', '6', '1,2층'],
 ['경기', '이천시', '부발읍', '하이닉스반도체'],
 ['인천광역시', '연수구', '송도국제대로', '165(송도동)', '홈플러스송도점1층'],
 ['서울시', '강동구', '강동대로193', '1층'],
 ['서울시', '성북구', '인촌로24길', '25', '(안암동5가)', '2층,3층'],
 ['서울시', '강남구', '영동대로85길', '9', '(대치동)', '서전빌딩1층'],
 ['경기도', '안양시', '동안구', '평촌대로', '223번길', '41(호계동', '1045-9)', '2층'],
 ['서울특별시', '강남구', '삼성로86길', '11', '거봉빌딩', '1층'],
 ['서울시', '마포구', '성암로301', 'KLID한국지역정보개발원', '1층'],
 ['경기도', '성남시', '분당구', '정자일로', '227(정자동)', '백궁지엔느주차전용빌딩', '1층'],
 ['서울특별시', '강남구', '봉은사로108', '글라스톤빌딩1층'],
 ['서울시', '강서구', '화곡6동', '1095번지', '1층'],
 ['서울시', '서대문구', '대신동', '50-5', '1층,2층(B동)'],
 ['서울시', '동대문구', '장안동', '372-1,', '1층', '일부', '및', '2층', '전체'],
 ['경기도', '수원시', '영통구', '영통로', '214번길', '8', '1층'],
 ['서울시', '서초구', '동산로', '1', '1층'],
 ['서울시', '영등포구', '문래동6가', '5번지', '1층'],
 ['부산시', '해운대구', '해운대', '해변로277', '다옴빌딩1층'],
 ['서울시', '강남구', '역삼동', '718-20', '태광타워', '1층'],
 ['경기', '용인시', '수지구', '손곡로', '95', '송란빌딩', '1층'],
 ['경기도', '파주시', '청암로', '17번길', '17', '1층'],
 ['서울시', '서초구', '신반포로47길', '5', '건물전체', '1~3층'],
 ['서울시', '강동구', '올림픽로', '659', '쌍용플래티넘리버', '1층'],
 ['서울시', '마포구', '양화로18안길', '7', '2층'],
 ['경기도', '군포시', '광정로58', '1층', '104호', '및', '2층'],
 ['강원도', '원주시', '봉화로1', 'AK플라자원주점', '1층'],
 ['경기도', '고양시', '덕양구', '화신로260번길', '26', '동민프라자', '1층', '103~107호'],
 ['서울특별시', '강남구', '테헤란로', '111', '2층'],
 ['서울특별시', '서초구', '서초대로', '397', '부띠크모나코', '1층'],
 ['서울특별시', '송파구', '송파대로', '111', '송파파크하비오', '205동', '1층', '110-113'],
 ['서울특별시', '송파구', '법원로', '114,', '엠스테이트', 'B동', '지하', '1층,', 'B145-147'],
 ['서울특별시', '중랑구', '망우로', '291', '1층'],
 ['서울특별시', '강동구', '동남로', '885', '양지빌딩', '1층'],
 ['서울시', '노원구', '노해로', '490,', '길빌딩', '2층'],
 ['서울시', '종로구', '종로', '70', '2층'],
 ['경기도', '평택시', '평남로', '862,', '로이드빌딩', '1층'],
 ['서울시', '송파구', '방이동', '44-2,', '장은빌딩', '1층'],
 ['서울특별시', '강남구', '도곡동', '543-1,', '지오빌딩', 'B1층'],
 ['서울특별시',
  '강북구',
  '한천로',
  '139길',
  '25,',
  '1층',
  '일부',
  '및',
  '2층',
  '(수유동',
  '191-70)'],
 ['인천', '연수구', '송도과학로', '16번길', '33-4', 'D동', '119호,207호'],
 ['서울특별시', '광진구', '구의강변로', '106', '삼성쉐르빌', '1층'],
 ['서울특별시', '영등포구', '국제금융로8길31', '여의도SK증권빌딩점', '1층'],
 ['서울특별시', '송파구', '충민로', '66', '가든파이브', '라이프동', '테크노관', '1층'],
 ['서울시', '송파구', '위례광장로', '230', '위례2차', '아이파크', 'B동', '1층'],
 ['서울특별시', '종로구', '대학로', '128', '2층'],
 ['서울특별시', '성북구', '삼선교로', '12', '1층'],
 ['서울특별시', '강남구', '도곡로', '408', '디마크빌딩', '1층'],
 ['서울특별시', '강남구', '강남대로112길', '20', '1층,', '2층'],
 ['부산광역시', '수영구', '수영로', '667', '1층'],
 ['경기도', '수원시', '장안구', '경수대로', '989'],
 ['서울특별시', '마포구', '양화로', '196(동교동)'],
 ['경기도', '성남시', '수정구', '수정로', '190', '(신흥동)'],
 ['서울시', '은평구', '은평로', '121(응암동),', '메디컬빌딩'],
 ['경기도', '수원시', '권선구', '수인로', '291(구운동),', '이마트', '서수원점', '1층'],
 ['서울특별시', '강서구', '강서로', '457(마곡동)'],
 ['경기', '수원시', '장안구', '서부로', '2066,', '성균관대', '자연과학', '캠퍼스', 'N센터', '1층'],
 ['서울특별시', '강서구', '마곡동로', '55', '마커스빌딩', '1층'],
 ['서울', '송파구', '방이동', '206-11'],
 ['서울시', '영등포구', '국제금융로10', 'IFC', 'Mall', 'L2(2층)'],
 ['경기도', '화성시', '능동', '453-4,453-8,454-1', '소재', '건물(1~3층)'],
 ['경기도', '수원시', '팔달구', '인계로79', '(인계동)'],
 ['인천광역시', '중구', '운서동', '2868', '인천공항', '제2터미널', '1층', '연번(23-124)'],
 ['부산광역시', '부산진구', '서전로', '12,', '1층'],
 ['경기도', '성남시', '분당구', '야탑로64', 'DS타워', '1층'],
 ['서울시', '용산구', '한강대로95'],
 ['서울특별시', '강남구', '선릉로', '433', '세방빌딩', '1층'],
 ['경기도', '광명시', '양지로16', '아브뉴프랑', '지하', '2층', '(주)커피빈코리아', '광명아브뉴프랑점'],
 ['서울특별시', '종로구', '새문안로', '91', '고려빌딩', '1,2층'],
 ['서울특별시', '송파구', '법원로6길', '11', '환인빌딩', '1층'],
 ['서울시', '동대문구', '경희대로', '10', '(회기동)'],
 ['경기도', '파주시', '문발로', '131'],
 ['경상남도', '창원시', '성산구', '원이대로', '320,', '더시티세븐S-105호(대원동)'],
 ['서울특별시', '종로구', '종로3길', '34'],
 ['서울시', '마포구', '와우산로10길', '3,', '엘케이빌딩', '1~3층'],
 ['경기도', '안양시', '동안구', '시민대로', '260,', '1층', '104,105호'],
 ['경기도', '하남시', '미사대로', '750,', '신세계백화점', '지하1층', '식품관'],
 ['서울시', '종로구', '우정국로', '26', '센트로폴리스', '1층', 'Retail', '1-5,6'],
 ['서울특별시', '송파구', '올림픽로35길', '123', '1층'],
 ['부산', '부산진구', '서면로', '62-1', '에이스메디컬타워', '1F'],
 ['인천시', '중구', '신도시남로', '142번길', '6', '(메가스타', '영종', '139,140,141호)'],
 ['서울시', '중구', '장충동2가', '188-11,', '188-4,', '188-5'],
 ['부산', '해운대구', '센텀3로', '20', '해운대센텀호텔', '1F', '101호'],
 ['서울', '서초구', '서초중앙로', '156,', '1층'],
 ['경기도', '부천시', '부천로25'],
 ['부산', '중구', '해관로', '1', '희남빌딩', '1층'],
 ['광주', '서구', '상무중앙로', '9,', '동양빌딩', '1F'],
 ['경기도', '김포시', '태장로', '819'],
 ['서울특별시', '서초구', '반포대로70'],
 ['경기도', '남양주시', '경춘로', '1641'],
 ['서울시', '강남구', '봉은사로', '331', 'SH빌딩점', 'B1-1층'],
 ['서울시', '강서구', '강서로', '162'],
 ['경기도', '부천시', '옥길동', '768', '부천스타필드시티점', '4층'],
 ['인천시', '연수구', '컨벤시아대로', '60,', '1층'],
 ['광주광역시', '동구', '서남동', '서석로', '44', '1층', '~', '2층'],
 ['대구광역시', '중구', '동성로3길', '106'],
 ['서울', '강남구', '대치동', '943-2', '루첸타워', '1층', '로비'],
 ['경기도', '수원시', '팔달구', '덕영대로', '924', 'AK플라자', '4층'],
 ['서울시', '중구', '을지로', '35', '하나은행', '을지로본점', '24F', '내', '스마트워크센터'],
 ['서울시', '강남구', '테헤란로69길', '5', 'DT센터점', '1층'],
 ['서울시', '서초구', '강남대로', '563', '페이토플라자', '1층', '(', '잠원동', '37-1', ')'],
 ['서울시', '용산구', '장문로', '23', '몬드리안', '서울', '이태원호텔', '101호'],
 ['광주광역시', '남구', '봉선로', '168'],
 ['서울시', '노원구', '동일로', '1405,', '1층', '일부'],
 ['서울', '강남구', '광평로', '51길', '6-23', '원방테크사옥', '1층'],
 ['서울시', '송파구', '송파대로', '345', '(', '헬리오시티상가', '3블럭', 'A동', 'B1층', '22호', ')'],
 ['서울', '중구', '남대문로10길', '33', '1F'],
 ['서울시', '서초구', '서초중앙로', '209,', '해성빌딩', '1층'],
 ['경기도', '고양시', '일산동구', '정발산로', '38'],
 ['부산광역시', '북구', '학사로', '8', '(화명동', '2312),', '크리스탈타워', '2층', '201~202호'],
 ['경기도', '용인시', '처인구', '역북동', '598-7'],
 ['부산광역시', '중구', '중앙대로', '102', '팬오션빌딩', '1F'],
 ['충남', '천안시', '동남구', '만남로', '48'],
 ['제주도', '제주시', '연북로', '511'],
 ['서울시', '종로구', '대명길', '5'],
 ['경기도', '용인시', '처인구', '포곡읍', '가실리', '156-1', '(파크내', '홀랜드빌리지', '옆', '암스테르담)'],
 ['서울시', '중구', '명동', '10길', '52', '명동역', '신한은행', '사옥', '1층'],
 ['경기도', '안양시', '동안구', '엘에스로', '127', '1층'],
 ['서울', '마포구', '상암산로', '82', 'SBS', '프리즘', '타워', '1층', '로비'],
 ['경기도', '이천시', '대산로288번길', '89,', '행복1마을', '복지A동', '지하1층'],
 ['경남', '진주시', '충의로', '19', 'LH진주사옥', '공감동', '1층']]

In [40]:
addr2 = []
for i in range(len(addr)):
  if addr[i][0] == '서울':
    addr[i][0] = '서울특별시'
  elif addr[i][0] == '서울시':
    addr[i][0] = '서울특별시'
  elif addr[i][0] == '경기':
    addr[i][0] = '경기도'
  elif addr[i][0] == '경남':
    addr[i][0] = '경상남도'
  elif addr[i][0] == '광주':
    addr[i][0] = '광주광역시'
  elif addr[i][0] == '부산':
    addr[i][0] = '부산광역시'
  elif addr[i][0] == '부산시':
    addr[i][0] == '부산광역시'
  elif addr[i][0] == '인천':
    addr[i][0] = '인천광역시'
  elif addr[i][0] == '인천시':
    addr[i][0] = '인천광역시'
  elif addr[i][0] == '제주도':
    addr[i][0] = '제주특별자치도'
  elif addr[i][0] == '충남':
    addr[i][0] = '충청남도'
  elif addr[i][0] == '충북':
    addr[i][0] = '충청북도'

  addr2.append(' '.join(addr[i]))

In [41]:
addr2

['서울특별시 강남구 학동로 211 1층',
 '서울특별시 강남구 논현로 566 강남차병원1층',
 '서울특별시 서초구 강남대로 369 1층',
 '서울특별시 서초구 서초 1306-3호',
 '서울특별시 강남구 압구정로 461 네이처포엠빌딩B108,109호',
 '서울특별시 강남구 도산대로 126',
 '서울특별시 강남구 논현로 842 압구정빌딩1층',
 '서울특별시 강남구 논현로 512 지상1,2층',
 '서울특별시 서초구 강남대로 213 24호 지하1층',
 '서울특별시 강남구 삼성로 716 LEE76빌딩2층',
 '서울특별시 서초구 반포동 736-17 P빌딩 2층',
 '서울특별시 강남구 언주로 30길 10,112 현대비젼21 112호',
 '서울특별시 강남구 선릉로 749 1,2층',
 '서울특별시 강남구 테헤란로 87길 17 1층',
 '서울특별시 강남구 도산대로49길 13 1층 17,18호',
 '서울특별시 강남구 선릉로 157길 12 석전빌딩 1~4층',
 '서울특별시 서초구 강남대로 51길 1 511 TOWER 1층',
 '서울특별시 강남구 논현 231-13호 팍스타워지하1층',
 '서울특별시 강남구 영동대로 513 컨벤션별관A동 지하 2층',
 '서울특별시 강남구 영동대로 511 트레이드타워 지하1층',
 '서울특별시 강남구 영동대로 607 1,2층',
 '서울특별시 서초구 신반포로 23 1141호 엘루체백화점내1층1013~1015호',
 '서울특별시 송파구 석촌호수로 118 1층',
 '서울특별시 서초구 서초동 1685-8호 101~2호,113~4호,121호',
 '서울특별시 강남구 논현로 717 1층',
 '서울특별시 서초구 서초대로74길 11 지하2층',
 '서울특별시 서초구 서초대로74길 4 삼성생명보험서초타워내지하1층',
 '서울특별시 서초구 방배중앙로 187',
 '서울특별시 강남구 테헤란로 20길 10 쓰리엠타워1층',
 '서울특별시 강남구 테헤란로 70길 12 1층',
 '서울특별시 강남구 봉은사로 628 엘슨빌딩1층',
 '서울특별시 송파구 오금로 11길 7',
 '서울특별시 강남구 논현로 38길 42 418호',
 '서울특별시 서초구 서초중앙로 43 로얄타워1층',
 '서울특별시 강남구 테헤란로4길 28 826-28호 1층',
 '서울특별시 강남구 테헤란로87길 36 공항타워 1층',
 '서울특별시 강남구 도산대로 67길 7,파크빌딩 1층',
 '서울특별시 종로구 서린동 136 센트리얼빌딩 1층',
 '서울특별시 종로구 새문안로3길 23 경희궁아침상가4단지105외',
 '서울특별시 마포구 홍익로 6길 26',
 '서울특별시 중구 순화202 1-94 프레이저플레이스레지던스1층',
 '서울특별시 중구 남대문로7길 16 한컴빌딩 1층',
 '서울특별시 광진구 광나루로56길 85 테크노마트9층35호',
 '서울특별시 동대문구 이문로 106 1~3층',
 '서울특별시 성북구 개운사길8 101-3 1층',
 '서울특별시 중구 칠패로 27 151호',
 '서울특별시 종로구 새문안로 9길 25 1층',
 '서울특별시 서대문구 창천 18-26호 B1',
 '서울특별시 광진구 자양동 227-342호 롯데백화점 옆 더클래식500건물 1층',
 '서울특별시 종로구 사직로 130,1 현대적선빌딩1층',
 '서울특별시 노원구 한글비석로 263 1층',
 '서울특별시 중구 한강대로 416 지하1층',
 '서울특별시 양천구 목동동로 293 현대41타워1층',
 '서울특별시 영등포구 국제금융로 52 심팩빌딩 1층',
 '서울특별시 영등포구 의사당대로 97 26-4 교보증권빌딩1층',
 '서울특별시 금천구 시흥대로 201 1층',
 '서울특별시 영등포구 여의서로 43 한서리버파크2층',
 '부산광역시 중구 창선동 2가 8-2',
 '인천광역시 남동구 예술로 138 지상1,2층',
 '대전시 서구 문정로76 1층',
 '경기도 고양시 일산동구 장항동 764 라페스타C동',
 '경기도 고양시 일산동구 정발산로 24 I동103~203호',
 '경기도 성남시 분당구 분당로53번길 11 1층2,3호',
 '경기도 성남시 분당구 황새울로 326 서현빌딩상가내2층',
 '경기도 성남시 분당구 야탑로65번길 16, 분당차병원 신관동 1층 101호(야탑동)',
 '경기도 성남시 분당구 황새울로 214번길8 MSPlaza내1층',
 '경기도 화성시 노작로 199 동탄라마다호텔107호~111호',
 '경상남도 창원시 성산구 중앙대로 104 마이우스오피스텔 123호 207호',
 '충청북도 청주시 흥덕구 대농로 17 지웰시티몰 1층 124-1,125,126호',
 '서울특별시 중구 세종대로 136 파이낸스빌딩 지하2층',
 '서울특별시 강남구 테헤란로 8길 42 1층',
 '서울특별시 중구 태평로1 84호 SFC빌딩B1,1-4',
 '서울특별시 중구 후암로110 581호 서울시티타워1층',
 '서울특별시 송파구 양재대로 1222 올림픽선수A 1층212~3호',
 '서울특별시 종로구 대학로 12길 62 지하1층,지상1,2층',
 '서울특별시 종로구 낙원동 272 오라카이스위츠 1층',
 '서울특별시 강남구 테헤란로 312 707-2번지1층',
 '서울특별시 관악구 관악로 161 층일부 2,3층',
 '서울특별시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드',
 '서울특별시 강남구 논현로 167길 9 낙산프라자 1층',
 '서울특별시 구로구 경인로 662 디큐브시티 4층',
 '서울특별시 중구 퇴계로 173 남산스퀘어 1층',
 '서울특별시 영등포구 국제금융로 20 1층',
 '서울특별시 강남구 테헤란로 439',
 '서울특별시 강남구 선릉로93길 6(역삼동) 1층',
 '서울특별시 강남구 테헤란로1길 29 1층일부 및 2.3층',
 '서울특별시 강남구 삼성로 551 1층,2층',
 '서울특별시 강남구 선릉로86길 11',
 '서울특별시 종로구 율곡로 47 1,2층',
 '서울특별시 서초구 강남대로 449-3 알고코리아빌딩 1,2층',
 '서울특별시 영등포구 국제금융로10 IFC B2층',
 '서울특별시 마포구 상암산로 82 SBS프리즘타워 1층',
 '서울특별시 금천구 디지털로9길 23 마리오-2관 패션타워3층',
 '서울특별시 강남구 테헤란로 419 삼성금융플라자1층',
 '경기도 화성시 장덕동 현대연구소로150 현대자동차남양연구소 설계1동1F',
 '서울특별시 용산구 이태원로 189',
 '서울특별시 강남구 가로수길 83',
 '서울특별시 서초구 강남대로 267 2,3층',
 '서울특별시 강동구 천호대로 1096 1,2F',
 '경기도 수원시 팔달구 권광로 195 학산빌딩1층',
 '경기도 성남시 분당구 동판교로177번길 25',
 '경기도 고양시 일산서구 한류월드로 300 원마운트스포츠몰 1층',
 '경기도 화성시 장덕동 현대연구소로150 현대자동차남양연구소 C1구역식당1F',
 '서울특별시 영등포구 의사당대로 97 교보증권빌딩 2층',
 '서울특별시 강남구 압구정로29길65 지하1층',
 '서울특별시 강남구 테헤란로143 고운빌딩1층',
 '서울특별시 중구 세종대로84 2층',
 '인천광역시 부평구 시장로29 1,2층',
 '서울특별시 강남구 강남대로442 흥국화재빌딩 2층',
 '서울특별시 구로구 디지털로300 지밸리비즈플라자 2층',
 '서울특별시 서초구 방배로178 유중아트센터1층',
 '서울특별시 강남구 테헤란로87길22 도심공항터미널 지하1층',
 '서울특별시 영등포구 영중로15 타임스퀘어 1층',
 '서울특별시 강남구 봉은사로207 KJ타워1층',
 '서울특별시 강남구 테헤란로521 파르나스몰 지하1층',
 '서울특별시 종로구 새문안로5가길 7 1층 일부',
 '경기도 화성시 장덕동 현대연구소로150 현대자동차남양연구소 PT동 1층',
 '경기도 김포시 고촌읍 전호리 654번지 현대프리미엄아울렛김포3층 618호',
 '서울특별시 영등포구 국제금융로8길6 신영증권별관빌딩2층',
 '서울특별시 용산구 이태원로220(한남동) 1층',
 '서울특별시 서초구 서초대로73길12 세계빌딩1층',
 '경기도 수원시 영통구 이의동 1332 광교아브뉴프랑 1층 A122,123호',
 '서울특별시 광진구 아차산로563(광장동) 대한제지빌딩 로비층',
 '서울특별시 송파구 올림픽로100 효창타워1층',
 '경상북도 포항시 북구 삼호로265번길1 NB-City복합시설1층104호',
 '서울특별시 관악구 남부순환로1909 1,2층',
 '인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-57',
 '인천광역시 중구 공항로272 인천국제공항탑승동3층 FB-C5-68',
 '경상북도 경주시 엑스포로80(천군동)1층',
 '서울특별시 송파구 석촌호수로 222 제이타워 1층',
 '서울특별시 양천구 오목로 350 목동썬텍씨티빌딩 1층,2층',
 '서울특별시 중구 남대문로10길 6 1,2층',
 '경기도 이천시 부발읍 하이닉스반도체',
 '인천광역시 연수구 송도국제대로 165(송도동) 홈플러스송도점1층',
 '서울특별시 강동구 강동대로193 1층',
 '서울특별시 성북구 인촌로24길 25 (안암동5가) 2층,3층',
 '서울특별시 강남구 영동대로85길 9 (대치동) 서전빌딩1층',
 '경기도 안양시 동안구 평촌대로 223번길 41(호계동 1045-9) 2층',
 '서울특별시 강남구 삼성로86길 11 거봉빌딩 1층',
 '서울특별시 마포구 성암로301 KLID한국지역정보개발원 1층',
 '경기도 성남시 분당구 정자일로 227(정자동) 백궁지엔느주차전용빌딩 1층',
 '서울특별시 강남구 봉은사로108 글라스톤빌딩1층',
 '서울특별시 강서구 화곡6동 1095번지 1층',
 '서울특별시 서대문구 대신동 50-5 1층,2층(B동)',
 '서울특별시 동대문구 장안동 372-1, 1층 일부 및 2층 전체',
 '경기도 수원시 영통구 영통로 214번길 8 1층',
 '서울특별시 서초구 동산로 1 1층',
 '서울특별시 영등포구 문래동6가 5번지 1층',
 '부산시 해운대구 해운대 해변로277 다옴빌딩1층',
 '서울특별시 강남구 역삼동 718-20 태광타워 1층',
 '경기도 용인시 수지구 손곡로 95 송란빌딩 1층',
 '경기도 파주시 청암로 17번길 17 1층',
 '서울특별시 서초구 신반포로47길 5 건물전체 1~3층',
 '서울특별시 강동구 올림픽로 659 쌍용플래티넘리버 1층',
 '서울특별시 마포구 양화로18안길 7 2층',
 '경기도 군포시 광정로58 1층 104호 및 2층',
 '강원도 원주시 봉화로1 AK플라자원주점 1층',
 '경기도 고양시 덕양구 화신로260번길 26 동민프라자 1층 103~107호',
 '서울특별시 강남구 테헤란로 111 2층',
 '서울특별시 서초구 서초대로 397 부띠크모나코 1층',
 '서울특별시 송파구 송파대로 111 송파파크하비오 205동 1층 110-113',
 '서울특별시 송파구 법원로 114, 엠스테이트 B동 지하 1층, B145-147',
 '서울특별시 중랑구 망우로 291 1층',
 '서울특별시 강동구 동남로 885 양지빌딩 1층',
 '서울특별시 노원구 노해로 490, 길빌딩 2층',
 '서울특별시 종로구 종로 70 2층',
 '경기도 평택시 평남로 862, 로이드빌딩 1층',
 '서울특별시 송파구 방이동 44-2, 장은빌딩 1층',
 '서울특별시 강남구 도곡동 543-1, 지오빌딩 B1층',
 '서울특별시 강북구 한천로 139길 25, 1층 일부 및 2층 (수유동 191-70)',
 '인천광역시 연수구 송도과학로 16번길 33-4 D동 119호,207호',
 '서울특별시 광진구 구의강변로 106 삼성쉐르빌 1층',
 '서울특별시 영등포구 국제금융로8길31 여의도SK증권빌딩점 1층',
 '서울특별시 송파구 충민로 66 가든파이브 라이프동 테크노관 1층',
 '서울특별시 송파구 위례광장로 230 위례2차 아이파크 B동 1층',
 '서울특별시 종로구 대학로 128 2층',
 '서울특별시 성북구 삼선교로 12 1층',
 '서울특별시 강남구 도곡로 408 디마크빌딩 1층',
 '서울특별시 강남구 강남대로112길 20 1층, 2층',
 '부산광역시 수영구 수영로 667 1층',
 '경기도 수원시 장안구 경수대로 989',
 '서울특별시 마포구 양화로 196(동교동)',
 '경기도 성남시 수정구 수정로 190 (신흥동)',
 '서울특별시 은평구 은평로 121(응암동), 메디컬빌딩',
 '경기도 수원시 권선구 수인로 291(구운동), 이마트 서수원점 1층',
 '서울특별시 강서구 강서로 457(마곡동)',
 '경기도 수원시 장안구 서부로 2066, 성균관대 자연과학 캠퍼스 N센터 1층',
 '서울특별시 강서구 마곡동로 55 마커스빌딩 1층',
 '서울특별시 송파구 방이동 206-11',
 '서울특별시 영등포구 국제금융로10 IFC Mall L2(2층)',
 '경기도 화성시 능동 453-4,453-8,454-1 소재 건물(1~3층)',
 '경기도 수원시 팔달구 인계로79 (인계동)',
 '인천광역시 중구 운서동 2868 인천공항 제2터미널 1층 연번(23-124)',
 '부산광역시 부산진구 서전로 12, 1층',
 '경기도 성남시 분당구 야탑로64 DS타워 1층',
 '서울특별시 용산구 한강대로95',
 '서울특별시 강남구 선릉로 433 세방빌딩 1층',
 '경기도 광명시 양지로16 아브뉴프랑 지하 2층 (주)커피빈코리아 광명아브뉴프랑점',
 '서울특별시 종로구 새문안로 91 고려빌딩 1,2층',
 '서울특별시 송파구 법원로6길 11 환인빌딩 1층',
 '서울특별시 동대문구 경희대로 10 (회기동)',
 '경기도 파주시 문발로 131',
 '경상남도 창원시 성산구 원이대로 320, 더시티세븐S-105호(대원동)',
 '서울특별시 종로구 종로3길 34',
 '서울특별시 마포구 와우산로10길 3, 엘케이빌딩 1~3층',
 '경기도 안양시 동안구 시민대로 260, 1층 104,105호',
 '경기도 하남시 미사대로 750, 신세계백화점 지하1층 식품관',
 '서울특별시 종로구 우정국로 26 센트로폴리스 1층 Retail 1-5,6',
 '서울특별시 송파구 올림픽로35길 123 1층',
 '부산광역시 부산진구 서면로 62-1 에이스메디컬타워 1F',
 '인천광역시 중구 신도시남로 142번길 6 (메가스타 영종 139,140,141호)',
 '서울특별시 중구 장충동2가 188-11, 188-4, 188-5',
 '부산광역시 해운대구 센텀3로 20 해운대센텀호텔 1F 101호',
 '서울특별시 서초구 서초중앙로 156, 1층',
 '경기도 부천시 부천로25',
 '부산광역시 중구 해관로 1 희남빌딩 1층',
 '광주광역시 서구 상무중앙로 9, 동양빌딩 1F',
 '경기도 김포시 태장로 819',
 '서울특별시 서초구 반포대로70',
 '경기도 남양주시 경춘로 1641',
 '서울특별시 강남구 봉은사로 331 SH빌딩점 B1-1층',
 '서울특별시 강서구 강서로 162',
 '경기도 부천시 옥길동 768 부천스타필드시티점 4층',
 '인천광역시 연수구 컨벤시아대로 60, 1층',
 '광주광역시 동구 서남동 서석로 44 1층 ~ 2층',
 '대구광역시 중구 동성로3길 106',
 '서울특별시 강남구 대치동 943-2 루첸타워 1층 로비',
 '경기도 수원시 팔달구 덕영대로 924 AK플라자 4층',
 '서울특별시 중구 을지로 35 하나은행 을지로본점 24F 내 스마트워크센터',
 '서울특별시 강남구 테헤란로69길 5 DT센터점 1층',
 '서울특별시 서초구 강남대로 563 페이토플라자 1층 ( 잠원동 37-1 )',
 '서울특별시 용산구 장문로 23 몬드리안 서울 이태원호텔 101호',
 '광주광역시 남구 봉선로 168',
 '서울특별시 노원구 동일로 1405, 1층 일부',
 '서울특별시 강남구 광평로 51길 6-23 원방테크사옥 1층',
 '서울특별시 송파구 송파대로 345 ( 헬리오시티상가 3블럭 A동 B1층 22호 )',
 '서울특별시 중구 남대문로10길 33 1F',
 '서울특별시 서초구 서초중앙로 209, 해성빌딩 1층',
 '경기도 고양시 일산동구 정발산로 38',
 '부산광역시 북구 학사로 8 (화명동 2312), 크리스탈타워 2층 201~202호',
 '경기도 용인시 처인구 역북동 598-7',
 '부산광역시 중구 중앙대로 102 팬오션빌딩 1F',
 '충청남도 천안시 동남구 만남로 48',
 '제주특별자치도 제주시 연북로 511',
 '서울특별시 종로구 대명길 5',
 '경기도 용인시 처인구 포곡읍 가실리 156-1 (파크내 홀랜드빌리지 옆 암스테르담)',
 '서울특별시 중구 명동 10길 52 명동역 신한은행 사옥 1층',
 '경기도 안양시 동안구 엘에스로 127 1층',
 '서울특별시 마포구 상암산로 82 SBS 프리즘 타워 1층 로비',
 '경기도 이천시 대산로288번길 89, 행복1마을 복지A동 지하1층',
 '경상남도 진주시 충의로 19 LH진주사옥 공감동 1층']

In [42]:
CB2 = CB.copy() #깊은 복사 (얕은 복사는 원본 data에 손상을 줌)

In [43]:
CB2['address2'] = addr2

In [44]:
CB2.drop('address',axis=1, inplace=True)

In [45]:
CB2.rename(columns={'address2':'address'}, inplace = True)

In [46]:
CB2

            store         phone                               address
0         학동역 DT점  02-3444-9973                  서울특별시 강남구 학동로 211 1층
1            차병원점   02-538-7615             서울특별시 강남구 논현로 566 강남차병원1층
2           강남대로점   02-588-5778                 서울특별시 서초구 강남대로 369 1층
3           강남에스점   02-593-5095                  서울특별시 서초구 서초 1306-3호
4           청담에스점   02-548-6052   서울특별시 강남구 압구정로 461 네이처포엠빌딩B108,109호
..            ...           ...                                   ...
246         명동거리점   02-522-7158     서울특별시 중구 명동 10길 52 명동역 신한은행 사옥 1층
247       안양LS타워점  031-429-9650               경기도 안양시 동안구 엘에스로 127 1층
248   상암SBS프리즘타워점   02-562-9605    서울특별시 마포구 상암산로 82 SBS 프리즘 타워 1층 로비
249  이천하이닉스 행복마을점  031-638-7018  경기도 이천시 대산로288번길 89, 행복1마을 복지A동 지하1층
250       진주LH본사점  055-763-3520         경상남도 진주시 충의로 19 LH진주사옥 공감동 1층

[251 rows x 3 columns]

In [47]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [48]:
ls -al

total 24
drwxr-xr-x 1 root root 4096 May  8 11:56 ./
drwxr-xr-x 1 root root 4096 May  8 11:52 ../
drwxr-xr-x 4 root root 4096 May  3 13:41 .config/
drwx------ 5 root root 4096 May  8 11:56 drive/
drwxr-xr-x 2 root root 4096 May  8 11:55 .ipynb_checkpoints/
drwxr-xr-x 1 root root 4096 May  3 13:42 sample_data/

In [49]:
CB2.to_csv('/content/drive/MyDrive/DataScience/CB2.csv', index=False)

In [54]:
CB3 = pd.read_csv('/content/drive/MyDrive/DataScience/CB3.csv')
CB3

,store,phone,address,Latitude,Longitude
0,학동역 DT점,02-3444-9973,서울특별시 강남구 학동로 211 1층,37.514647,127.032047
1,차병원점,02-538-7615,서울특별시 강남구 논현로 566 강남차병원1층,37.484801,127.041832
2,강남대로점,02-588-5778,서울특별시 서초구 강남대로 369 1층,37.495615,127.028203
3,강남에스점,02-593-5095,서울특별시 서초구 서초 1306-3호,37.491840,127.007688
4,청담에스점,02-548-6052,"서울특별시 강남구 압구정로 461 네이처포엠빌딩B108,109호",37.525263,127.047158
...,...,...,...,...,...
246,명동거리점,02-522-7158,서울특별시 중구 명동 10길 52 명동역 신한은행 사옥 1층,37.561419,126.985689
247,안양LS타워점,031-429-9650,경기도 안양시 동안구 엘에스로 127 1층,37.372355,126.947197
248,상암SBS프리즘타워점,02-562-9605,서울특별시 마포구 상암산로 82 SBS 프리즘 타워 1층 로비,37.579667,126.892732
249,이천하이닉스 행복마을점,031-638-7018,"경기도 이천시 대산로288번길 89, 행복1마을 복지A동 지하1층",37.249259,127.473957
250,진주LH본사점,055-763-3520,경상남도 진주시 충의로 19 LH진주사옥 공감동 1층,35.172485,128.057506

In [51]:
map = folium.Map(location=[37.559978, 126.975291],zoom_start=14)

In [52]:
map.save('/content/drive/MyDrive/DataScience/map.html')

In [53]:
map_CB3 = folium.Map(location=[37.559978, 126.975291],zoom_start=14)

In [55]:
for i, info in CB3.iterrows():
  folium.Marker(location = [info['Latitude'], info['Longitude']], icon = folium.Icon(color='blue', icon='star' )).add_to(map_CB3)

In [57]:
map_CB3.save('/content/drive/MyDrive/DataScience/map_CB3.html')